
.slider2{
    background-color: #ECB365;
    padding: 40px 0;
}
.slider__container2{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items:center;
    gap:1em;
}
.slider__body2{
    grid-column:2/3;
    grid-row:1/2;
    opacity: 0;
    pointer-events:none;
    display:grid;
    background-color: #ECB365;
    border:5px solid #064663;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
    height: 400px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
}
.slider__body2--show2{
    opacity: 1;
    pointer-events: unset;
}
.slider_texts2{
    max-width: 600px;
}
.subtitle2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.slider_review2{
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
}
.slider__img2{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.slider__arrow2{
    cursor: pointer;
    width: 90%;
}

.slider__arrow2:nth-of-type(2){
    justify-self: end;
}

/* estudiantes */


.slider3{
    background-color: #ECB365;
    padding: 40px 0;
}
.slider__container3{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items:center;
    gap:1em;
}
.slider__body3{
    grid-column:2/3;
    grid-row:1/2;
    opacity: 0;
    pointer-events:none;
    display:grid;
    background-color: #ECB365;
    border:5px solid #064663;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
    height: 400px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
}
.slider__body3--show3{
    opacity: 1;
    pointer-events: unset;
}
.slider_texts3{
    max-width: 600px;
}
.subtitle3{
    font-size: 2rem;
    margin-bottom: 20px;
}
.slider_review3{
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
}
.slider__img3{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.slider__arrow3{
    cursor: pointer;
    width: 90%;
}

.slider__arrow3:nth-of-type(2){
    justify-self: end;
}
@media (max-width:760px){
    .slider__body2{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        padding: 0;
        gap:1em
    }
    .slider__picture2{
        grid-row:1/2;
    }
    .slider__img2{
        width: 210px;
        height: 210px;
    }
   
    .slider__review2{
        font-size: 0.8rem;
        text-align: center;
    }
    .slider__body3{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        padding: 0;
        gap:1em
    }
    .slider__picture3{
        grid-row:1/2;
    }
    .slider__img3{
        width: 210px;
        height: 210px;
    }
    .slider__review3{
        font-size: 0.8rem;
        text-align: center;
    }
    .subtitle3{
        font-size: 1.5em;
    }
    
    
}
@media (max-width:425px){
    
    .slider__arrow2{
        width: 100%;
    }
    .slider__img2{
        width: 180px;
        height: 180px;
    }
    .subtitle2{
        font-size: 2rem;
        margin-bottom: 15px;
    }
    .slider__review2{
        font-size: 0.8rem;
        text-align: center;
        line-height: 1.6;
    }
    
    .slider__arrow3{
        width: 100%;
    }
    .slider__img3{
        width: 180px;
        height: 180px;
    }
    .subtitle3{
        font-size: 1rem;
        margin-bottom: 15px;
    }
    .slider__review3{
        font-size: 0.8rem;
        text-align: center;
        line-height: 1.6;
    }
    
}